<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.mybatis.mapper.StuddMapper">
    <!--开启二级缓存-->
    <!--
        在mapper配置文件中添加的cache标签可以设置一些属性：
        ①eviction属性：缓存回收策略，默认的是 LRU。
        LRU（Least Recently Used） – 最近最少使用的：移除最长时间不被使用的对象。
        FIFO（First in First out） – 先进先出：按对象进入缓存的顺序来移除它们。
        SOFT – 软引用：移除基于垃圾回收器状态和软引用规则的对象。
        WEAK – 弱引用：更积极地移除基于垃圾收集器状态和弱引用规则的对象。
        ②flushInterval属性：刷新间隔，单位毫秒
        默认情况是不设置，也就是没有刷新间隔，缓存仅仅调用语句时刷新
        ③size属性：引用数目，正整数
        代表缓存最多可以存储多少个对象，太大容易导致内存溢出
        ④readOnly属性：只读， true/false
        true：只读缓存；会给所有调用者返回缓存对象的相同实例。因此这些对象不能被修改。这提供了 很重
        要的性能优势。
        false：读写缓存；会返回缓存对象的拷贝（通过序列化）。这会慢一些，但是安全，因此默认是
        false。
    -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <resultMap id="getStudd" type="Studd">
        <id column="s_id" property="sId"/>
        <result column="s_name" property="sName"/>
        <result column="s_age" property="sAge"/>
    </resultMap>
    <!--
    collection 集合名称
    item 变量名称
    separator 分隔符
    -->
    <insert id="addBatch">
        insert into studd values
        <foreach collection="studd"
                 item="item"
                 separator=","
        >
            (null,#{item.sName},#{item.sAge})
        </foreach>
    </insert>
    <!--
    collection 集合名称
    item 变量名称
    separator 分隔符
    open 左边包含
    close 右边包含
    -->
    <delete id="delBatch">
        delete
        from studd
        where s_id in
        <foreach collection="ids" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>

    </delete>
    <!--
        if标签可通过test属性的表达式进行判断，
        若表达式的结果为true，则标签中的内容会执行；反之标签中的内容不会执行
        sql片段，可以记录一段公共sql片段，在使用的地方通过include标签进行引入
    -->
    <sql id="StuddColumn">
        s_id,s_name,s_age
    </sql>
    <select id="getStudd" resultType="com.ssm.mybatis.entity.Studd">
        select
        <include refid="StuddColumn"/>
        from Studd where 1=1
        <if test="sName != null and sName != ''">
            and s_name = #{sName}
        </if>
        <if test="sAge != null and sAge !='' ">
            and s_age = #{sAge}
        </if>
    </select>
    <!--
        where和if一般结合使用：
        a>若where标签中的if条件都不满足，则where标签没有任何功能，即不会添加where关键字
        b>若where标签中的if条件满足，则where标签会自动添加where关键字，并将条件最前方多余的
        and去掉
        注意：where标签不能去掉条件最后多余的and
    -->
    <select id="getStuddTwo" resultType="com.ssm.mybatis.entity.Studd">
        select * from Studd
        <where>
            <if test="sName != null and sName != ''">
                and s_name = #{sName}
            </if>
            <if test="sAge != null and sAge !='' ">
                and s_age = #{sAge}
            </if>
        </where>
    </select>
    <!--
    prefix：在trim标签中的内容的前面添加某些内容
    prefixOverrides：在trim标签中的内容的前面去掉某些内容
    suffix：在trim标签中的内容的后面添加某些内容
    suffixOverrides：在trim标签中的内容的后面去掉某些内容

    -->
    <select id="getStuddThree" resultType="com.ssm.mybatis.entity.Studd">
        select * from Studd
        <trim prefix="where" suffixOverrides="and">
            <if test="sName != null and sName != ''">
                s_name = #{sName} and
            </if>
            <if test="sAge != null and sAge !='' ">
                s_age = #{sAge}
            </if>
        </trim>
    </select>
    <!--
    choose、when、 otherwise相当于if...else if..else
    -->
    <select id="getStuddFour" resultType="com.ssm.mybatis.entity.Studd">
        select * from Studd
        <where>
            <choose>
                <when test="sName != null and sName != ''">
                    and s_name = #{sName}
                </when>
                <when test="sAge != null and sAge !='' ">
                    and s_age = #{sAge}
                </when>
            </choose>
        </where>
    </select>
</mapper>
